
body{font-family: 'Inter', sans-serif; font-size:16px;
   
}

.bigtext{font-size:70px; font-weight:900;}
.mediumtext{font-size:40px;}
.normaltext{font-size:20px;}
.smalltext{font-size:14px;}


p,ul{
    line-height: 28px;
    color:#666;
    font-weight: 300;
}

a{text-decoration: none;
color: #fff;}
.siti{text-decoration: underline;
    color: #fff;}
nav{
z-index: 4;   
display:flex;
 width:100%;
 padding-top:20px;
    position: absolute;
    top:0;
    left:0;
align-items: center;
    flex-direction: column;
    text-align: center;
    
}


.logo {
    
    width:200px;
    height: 200px;
    
    
}




.menu div{
    display: inline-block; 
 
    
}

.menu div a{
    border-radius:30px;
    border: 3px solid #fff;
    color:#fff;
    padding: 20px;
    display:block;
    
}

.video{
    position: relative;
    height:100vh;
  
    display:flex;
    width:100%;
    align-items: center;  
    
    background-size: cover;
    overflow: hidden;
   
}

.video__content{
    z-index: 1;
    width:100%;
    max-width: 1350px;
    margin:0 auto;
    position: relative;
}

.video__content h1{
color:#fff;
text-align: center;

}
    
   .video::after{
content: ' ';
width: 100%;
height: 100%;
display: block;
position: absolute;
top:0;
left:0;
background: #000;
opacity: 0.5;

   } 
#myvideo{
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
}   





.blocco1{
   
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    margin-top:200px;
} 

.contenuto__1,.contenuto__2{
    width: 25%;
    
    height:70vh;
    text-align: center;

}

.img__1{
    width: 50%;
    height: 70vh;
    
    }

.img__1 img{

   
    object-fit: cover;
    width: 100%;
    height: 100%;
}



.img__1{
width: 50%;

}

.img__1 img{

   
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blocco2{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    margin-top:200px;
}

.img__1{
width: 50%;

}

.img__1 img{

   
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.contenuto__3{
    width: 50%;
}

.contenuto__3 h3,.contenuto__3 p{
  text-align: center;
  padding: 30px;
}




.blocco3{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    margin-top:200px;
    background: linear-gradient(0deg, rgba(0,0,0,.4), rgba(0,0,0,0.3) ),url("../images/fucili_img4.png");
    background-size: cover;
    overflow: hidden;

}

.contenuto__4{
    width: 50%;
}

.contenuto__4 p,.contenuto__4 h4{
    
    text-align: center;
    color:#fff;
    padding:10px;
    
  
  }

  .titolo4{
        width: 60%;
        
  }


  .main-carousel{
    border:3px solid black;
    margin:200px;
}

  footer{
    height:100%;
    margin-top:150px;
    border-top:6px solid black;
    
    
    
}

.fucili,.pistole,.regole,.abbigliamento,.contatti{
    
    
    width: 450px;
    height: 450px;
    
   
    text-align: center;
    
    padding:30px;
    margin-left:30px;


}

.pistole{
    background: url("../images/pistola.jpg") ;
    background-size: cover;
    overflow: hidden;

}

.fucili{
    background: url("../images/fucile.jpg") ;
    background-size: cover;
    overflow: hidden;

}

.regole{
    background: url("../images/soldato.png") ;
    background-size: cover;
    overflow: hidden;

}


.abbigliamento{
    background: url("../images/abbigliamento.jpg") ;
    background-size: cover;
    overflow: hidden;

}


.contatti{
    background: url("../images/contatti.png") ;
    background-size: cover;
    overflow: hidden;

}




.main-carousel a{
    color: #000;
    text-decoration: underline;
}

.menu-btn{
    display: none;
  }


@media(max-width:868px){
   
body{
    text-align: center;
    align-items: center;
}


    .blocco2,.blocco3,.blocco1{
       
            display:inline-block;

      
    }


.blocco1 div{
    display: inline-block;
    text-align: center;
}
  

    .contenuto__1,.contenuto__2,.contenuto__3 ,.contenuto__4{
        display:inline-block;
     

    }

 
    .img__1{
        display: inline-block;
        margin-top:130px;
    }

   






    .fucili,.pistole,.regole,.abbigliamento,.contatti{
        text-align:center;
       margin-left:10%;
       }
    
     footer a{
        position:relative;
        right:40px;
    
    }
    
    
       #myvideo{
        width: 130%;
        
       }
    
       .video{
    height: 600px;
    
    
    
       }
    
       .video:after{
       height: 100%;
       width: 100%;
       }
    
     .logo{
        width: 150px;
        height: 150px;
     }
    
     .video__content h1 {
        font-size:  30px;
        margin-top: 100px;;
     }

     .menu a{
  
   
        font-size: 16px;
      border: none;
      
      
     }
     nav .menu a{
       
    display: none;
       
     border: none;
    
     }
    
     nav .menu-icon{
        
        padding: 28px 20px;
        position: relative;
        float:inline-start;
        cursor: pointer;
     }
    
     nav .menu-icon .nav-icon{
        background-color: white;
        display: block;
        width: 18px;
        height: 2px;
        position: relative;
        transition:background-color .2s ease-out;
     }
    
     nav .menu-icon .nav-icon::before{
        background-color: white ;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        transition: all .2s ease-out;
        position: absolute;
        top:5px;
     }
    
     nav .menu-icon .nav-icon::after{
        background-color: white ;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        transition: all .2s ease-out;
        position: absolute;
        top:-5px;
     }
    
     nav .menu-btn{
        display: none;
     }
    
    
    nav .menu-btn:checked ~ .menu a{
    padding:5px;
    border:1px solid gray;
    display: inline;
    position: relative;
    color:white;
    
    
    
    
    }
    
    nav .menu-btn:checked ~  .menu{
        background-color: rgb(54, 52, 52);
        width: 50%;
        height: auto;
       display: flex;
       flex-direction: column;
        border:2px solid white;
    }

    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background-color: transparent;
    }
    
    
    nav .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform:rotate(-45deg);
        top:0;
    }
    
    nav .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform:rotate(45deg);
        top:0;
    }
}
    
